/* Booking container */
.booking {
  padding: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb; /* Light gray border */
  position: sticky;
  top: 80px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Top header section */
.booking__top {
  padding-top: 2rem;
  border-top: 1px solid rgb(229, 231, 235);
}

.booking__top h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.booking__top h3 span {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--text-color);
}

.booking__top span {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-color);
}

.booking__top span i {
  color: var(--secondary-color);
}

/* Booking form */
.booking__form {
  padding-top: 2rem;
}

.booking__form h5 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--heading-color);
}

/* Form input box styles */
.booking__form input {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  font-size: 1rem;
  color: var(--heading-color);
  border: none;
  border-bottom: 1px solid rgb(229, 231, 235);
  transition: border-color 0.3s ease;
}

.booking__form input:focus {
  outline: none;
  border-bottom: 1px solid var(--secondary-color);
}

/* Form container border */
.booking__info-form {
  padding: 1rem;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 0.75rem;
  background-color: #fdfdfd;
}
